.movie-list-grid {
  font-family: "Abel", sans-serif;
  font-size: 42px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  
}
.movie-list-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;

}

.element {
  background: #353535;
  max-height: 430px;
  animation: animateGrid 0.5s;
  overflow: hidden;
}
.text {
  text-align: center;
}
.movie-list-grid .movie-list-content h2{
  text-align: center;
  color: gold;
  position: relative;
  left:460px;
}